<h1>Ten Most Recent Disasters</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= @disasters %>

  <tbody>
    <% @disasters.each do |disaster| %>
      <tr>
        <td><%= disaster[:id] %></td>
        <td><%= disaster[:fields][:title] %></td>
        <td><%= link_to 'Show', disaster[:href] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disaster', new_disaster_path %>
